.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4px);
  margin: 0 auto 0 auto;
}
.ratesTable {
  width: 100%;
  border: 2px solid #000;
  margin-bottom: 10px;
}
.gridHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.headerCell {
  text-align: center;
  margin: auto;
  font-weight: 700;
}
.headerCellLeft {
  width: 65%;
}
.headerCellRight {
  width: 35%;
}
.headers,
.current {
  display: flex;
  padding-left: 10px;
}

.headers {
  flex: 1 1 100%;
  padding: 5px 0 5px 10px;
  background: rgb(243, 243, 144);
}

@media screen and (min-width: 701px) {
  .ratesTable {
    width: 50% !important;
  }
}

@media screen and (max-width: 700px) {
  .ratesTable {
    width: 75% !important;
  }
}

@media screen and (max-width: 500px) {
  .ratesTable {
    width: 100% !important;
  }
}
