.lngSwitch {
  position: absolute !important;
  top: 1;
  right: 0;

  margin-right: 20px;
}
.headerIcon {
  text-align: end;
  margin-right: 10px;
}
.headerToolbar {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.headerBox {
  position: sticky;
  top: 0px;
  margin-top: 0 !important;
  z-index: 1;
}

@media (max-width: 600px) {
  .headerIcon {
    position: absolute;
    top: 1;
    left: 0;

    margin-left: 20px;
  }
  .headerTitle {
    width: 70%;
    text-align: center;
  }
}
