.ratesAutocomplete {
  display: flex;
  flex: 1 1 100%;

  padding-left: 2px;

  color: #000;
  background: #fff;
}

.ratesAutocompleteSelect {
  flex: 1 1 65%;

  padding-top: 10px;
}

.ratesAutocompleteValue {
  flex: 1 1 35%;

  margin: auto 0 auto 0;

  font-weight: 700;
  text-align: center;
}
