.convertFieldOutput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: fit-content;

  margin: 10px auto 10px auto;
  padding: 20px 20px 10px 20px;
}

.convertFieldFrom,
.convertFieldTo {
  display: flex;
  justify-content: start;

  margin-bottom: 1rem;

  font-weight: bold;
}

.convertFieldIcon {
  margin: 0 0.5rem 0 0.5rem;
}
